@import url('https://fonts.googleapis.com/css?family=Courier+Prime&display=swap');
html{
    font-size: 62.5%;
}

body{
    box-sizing: border-box;
    font-family: 'Courier Prime', monospace;
}

a,a:hover{
    text-decoration: none;
    color: $color-black;
}