//main variables of all the project

$primary-color:#20d8da;
$primary-fade:#eff4f9;
$color-black-light:#545454;
$color-white: #fff;
$color-white-light:#ebf5f5;
$color-black:#000;
$color-black-fine:#0e0e0e;
$color-black-fade: rgba(0, 0, 0, 0.356);
$color-red-fade:rgba(255, 0, 0, 0.336);
$hover-transition-duration: all .4s;
$perfect-box-shadow:0 0 5px rgba(0, 0, 0, 0.356);
